@font-face {
  font-family: "BB Pro Text";
  src: url("/fonts/bb_pro_text.woff2") format("woff2");
}

@font-face {
  font-family: "BB Pro Mono";
  src: url("/fonts/bb_pro_mono.woff2") format("woff2");
}

@font-face {
  font-family: "BB Studio Headline";
  src: url("/fonts/bb_studio_headline.woff2") format("woff2");
}

@font-face {
  font-family: "Liquid Crystal";
  src: url("/fonts/liquidcrystal.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
ul,
li {
  all: unset;
}

a {
  text-decoration: none;
}

* {
  font-family: "BB Pro Text";
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
}
